body {
    margin: 0;
    font-family: "Bodoni", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.picture-side-by-side {
    display: flex;
    justify-content: center; 
    gap: 50px; 
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 2rem;
    align-items: center;
}

.header-with-image {
    display: flex; 
    align-items: center; 
    gap: 15px; 
}

.header-image {
    width: 30px;
    height: 30px; 
    object-fit: cover; 
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

nav a.active {
    background-color: lightblue;
    color: white;
}

.content {
    height: 1000px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #4e535c;
    border-radius: 5px;
}

.container-content {
    width: 1150px;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #92969d;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu {
    background-color: #1a1a2e;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.menu-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item p {
    margin: 10px 0 0;
    font-size: 14px;
}

.menu-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.footer-section {
    max-width: 1440px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

.footer-section a {
    text-decoration: none;
    color: white;
}

.footer-section a:hover {
    text-decoration: underline;
}

.about-section {
    width: 1200px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #92969d;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.about-section .top-picture {
    position: absolute;
    top: 50px; 
    left: 50px; 
    width: 250px;
    height: 275px; 
    object-fit: cover;
    border-radius: 5px;
}

.about-section p {
    margin-left: 335px;
    margin-right: 70px;
}

.about-section h1, .about-section h2 {
    color: #333;
}

.about-section ul {
    list-style: disc;
    padding-left: 15px;
}

.about-section ul li {
    margin-bottom: 5px;
}

.about-section .container-about {
    width: 200px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e535c;
    border-radius: 10px;
    position: relative;
    right: 420px;
    bottom: 110px;
}

.topic-section {
    height: 2500px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #4e535c;
    border-radius: 5px;
}

.topic-section p {
    margin: 10px;
    text-align: justify;
}

.topic-section h1, .topic-section h2 {
    color: #333;
}

.topic-section ul {
    list-style: disc;
    padding-left: 15px;
}

.topic-section ul li {
    margin-bottom: 5px;
}

.topic-section .introduction {
    width: 1150px;
    height: 305px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #92969d;
    border-radius: 10px;
    margin-bottom: 10px;
}
.topic-section .description-tech {
    width: 1150px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #92969d;
    border-radius: 10px;
    margin-bottom: 10px;
}
.topic-section .a-d {
    width: 1150px;
    height: 310px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #92969d;
    border-radius: 10px;
    margin-bottom: 10px;
}
.topic-section .future {
    width: 1150px;
    height: 460px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #92969d;
    border-radius: 10px;
    margin-bottom: 10px;
}
.topic-section .ethics {
    width: 1150px;
    height: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #92969d;
    border-radius: 10px;
    margin-bottom: 10px;
}
.topic-section .cases {
    width: 1150px;
    height: 380px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #92969d;
    border-radius: 10px;
    margin-bottom: 10px;
}

.degree-section {
    height: 1150px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #4e535c;
    border-radius: 5px;
}

.degree-section p {
    margin: 40px;
    text-align: justify;
}

.degree-section h1, .degree-section h2 {
    color: #333;
}

.degree-section ul {
    list-style: disc;
    padding-left: 15px;
}

.degree-section ul li {
    margin-bottom: 5px;
}

.degree-section .intro {
    width: 400px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #92969d;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 50px;
}

.degree-section .top-picture1 {
    position: absolute;
    top: 210px; 
    right: 240px; 
    width: 160px;
    height: 160px; 
    object-fit: cover;
    border-radius: 5px;
}

.degree-section .top-picture2 {
    position: absolute;
    top: 280px; 
    right: 470px; 
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.degree-section .info-container {
    width: 1150px;
    margin-bottom: 10px;
    text-align: center;
  }

  .degree-section details {
  cursor: pointer;
  background-color: #92969d;
  color: #333;
  border-radius: 5px;
}

.degree-section summary {
    outline: none;
}

.fce-section {
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    margin: 20px;
}

.fce-section p {
    margin: 30px;
}

.fce-section h1, .fce-section h2 {
    color: #333;
}

.fce-section ul {
    list-style: disc;
    padding-left: 15px;
}

.degree-section ul li {
    margin-bottom: 5px;
}

.net-section {
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    margin: 20px;
}

.net-section p {
    margin: 10px;
}

.net-section h1, .net-section h2 {
    color: #333;
}

.net-section ul {
    list-style: disc;
    padding-left: 15px;
}

.net-section ul li {
    margin-bottom: 5px;
}

.contact-section {
    height: 600px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: #92969d;
    border-radius: 5px;
}

.contact-container {
    width: 800px;
    height: 470px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e535c;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contact-section p {
    margin: 10px;
}

.contact-section h1, .contact-section h2 {
    color: #333;
}

.contact-section ul {
    list-style: disc;
    padding-left: 15px;
}

.contact-section ul li {
    margin-bottom: 5px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 90%;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 90%;
}
.form-group label {
    font-size: 1rem;
    color: white;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: border-color 0.3s;
    background-color: #92969d;
}

button[type="submit"] {
    font-size: 1rem;
    color: white;
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 150px;
    height: 50px;
}